<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs 
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">User Interface</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Forms</a>
                </div>
            </div>-->
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Crear Proceso
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-full">

            <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="horizontalStepperForm">
                <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Paso 1</ng-template>
                        <p class="my-6 font-medium">
                            Selecione a continuación el Tipo de seguro, Cliente y Usario asignado.
                        </p>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <ng-container *ngIf="seguros$ | async as seguros">
                                    <mat-select [formControlName]="'seguroSeleccionado'"
                                        [placeholder]="'Tipo de Seguro'" required>

                                        <mat-option *ngFor="let seguro of seguros; let i = index; trackBy: trackByFn"
                                            [value]="seguro.cod_seguro">{{seguro.nom_tipo_seguro}}</mat-option>

                                    </mat-select>
                                </ng-container>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <ng-container *ngIf="contacts$ | async as contacts">
                                    <mat-select [formControlName]="'clienteSeleccionado'" [placeholder]="'Cliente'"
                                        required>
                                        <mat-option *ngFor="let contact of contacts; let i = index; trackBy: trackByFn"
                                            [value]="contact.cod_cliente">{{contact.nom_cliente}} {{contact.apellido_cliente}} - {{contact.cedula}}</mat-option>

                                    </mat-select>
                                </ng-container>

                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <ng-container *ngIf="users$ | async as users">
                                    <mat-select [formControlName]="'empleadoSeleccionado'"
                                        [placeholder]="'Usuario Asignado'" required>
                                        <mat-option *ngFor="let user of users; let i = index; trackBy: trackByFn"
                                            [value]="user.cod_usuario">{{user.nom_usuario}}{{user.apellido_usuario}}
                                        </mat-option>

                                    </mat-select>
                                </ng-container>

                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:translate'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="false"
                                (click)="getCampoSeguro()" type="button" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperForm.get('step2')" #horizontalStepperStep2>
                        <ng-template matStepLabel>Paso 2</ng-template>
                        <p class="my-6 font-medium">
                            A continuación ingrese el detalle del seguro
                        </p>

                        <div class="flex"
                            *ngFor="let camp of horizontalStepperForm.get('campos')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                <mat-label>{{camp.get("name").value}}</mat-label>
                                <input matInput [formControl]="camp.get('valor')">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:pencil'">
                                </mat-icon>
                            </mat-form-field>
                            <hr>
                            <mat-form-field
                                class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-90 ml-2 sm:ml-4">
                                <mat-label></mat-label>
                                <input matInput [formControl]="camp.get('url')" [placeholder]="'URL'">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:paper-clip'">
                                </mat-icon>
                            </mat-form-field>
                            <br>
                        </div>






                        <br>
                        <!--
                            <div class="flex" *ngFor="let f of horizontalStepperForm.get('step2')['controls'] | keyvalue">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input matInput [formControlName]="'firstName'" [placeholder]="'First name'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                                </mat-icon>
                            </mat-form-field>
                            <hr>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <input matInput [formControlName]="'lastName'" [placeholder]="'Last name'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                                </mat-icon>
                            </mat-form-field>
                        </div>-->
                        <div class="flex justify-end">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="false" type="button"
                                matStepperNext>
                                Siguiente
                            </button>
                        </div>


                    </mat-step>

                    <mat-step [formGroupName]="'step3'" [stepControl]="horizontalStepperForm.get('step3')">
                        <ng-template matStepLabel>Paso 3</ng-template>
                        <p class="my-6 font-medium">

                        </p>
                        <div class="flex flex-col gt-sm:flex-row">

                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="font-medium mb-2">Selecciona la fase</span>
                                <mat-radio-group class="flex flex-col" [color]="'primary'"
                                    [formControlName]="'pushNotifications'">
                                    <mat-radio-button class="mb-2" [value]="'everything'">
                                        Inicio
                                    </mat-radio-button>
                                    <mat-radio-button class="mb-2" [value]="'just-good'">
                                        Cotización
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'no-push'">
                                        Activa
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'no-push'">
                                        Finalizada
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext
                                (click)="showAnalytics(true);">
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Terminar</ng-template>
                        <p class="my-6 font-medium">
                            Al presionar el botón guardar, el proceso será creado con la información suministrada en el
                            formulario y ser verá reflejada en la lista de procesos.
                        </p>

                        <p class="my-6 font-medium">
                            Otros usuarios que eligieron este seguro tambien se han sentido conformes con estos otros.<br>
                            Este cliente es susceptible a adquirir los siguientes seguros:<br>
                            A. Mascotas:80% <br>
                            B. Casa:75% <br>
                            C. Autos:40% <br>
                        </p>
                        
                        <p class="my-6 font-medium">
                            Inserte Grafica
                        </p>
                        
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                (click)="showAnalytics(false);" matStepperPrevious>

                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="reset"
                                (click)="finalizarRegistro();">
                                Guardar
                            </button>
                        </div>

                        
                    </mat-step>

                    
                   
                </mat-horizontal-stepper>
            </form>
            <!-- Section title -->
            <ng-container *ngIf="showAnalaytics">
                <div class="w-full mt-12">
                    <div class="text-2xl font-semibold tracking-tight leading-6">Recomendaciones de Pólizas</div>
                    <div class="font-medium tracking-tight text-secondary">A continuación se muestra el porcentaje de
                        afinidad de las pólizas recomendadas para este cliente.</div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-6 md:mt-8">
                    <!-- New vs. Returning -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Póliza 1</div>
                            <div class="ml-2">

                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartNewVsReturning.chart" [colors]="chartNewVsReturning.colors"
                                [labels]="chartNewVsReturning.labels" [plotOptions]="chartNewVsReturning.plotOptions"
                                [series]="chartNewVsReturning.series" [states]="chartNewVsReturning.states"
                                [tooltip]="chartNewVsReturning.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of data.newVsReturning.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartNewVsReturning.colors[i]"></div>
                                            <div class="ml-3 truncate">{{data.newVsReturning.labels[i]}}</div>
                                        </div>

                                        <div class="text-right text-secondary">{{dataset}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Gender -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Póliza 2</div>
                            <div class="ml-2">

                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartGender.chart" [colors]="chartGender.colors" [labels]="chartGender.labels"
                                [plotOptions]="chartGender.plotOptions" [series]="chartGender.series"
                                [states]="chartGender.states" [tooltip]="chartGender.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of data.gender.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartGender.colors[i]"></div>
                                            <div class="ml-3 truncate">{{data.gender.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{data.gender.uniqueVisitors * dataset / 100
                                            | number:'1.0-0'}}</div>
                                        <div class="text-right text-secondary">{{dataset}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Age -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Póliza 3</div>
                            <div class="ml-2">

                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartAge.chart" [colors]="chartAge.colors" [labels]="chartAge.labels"
                                [plotOptions]="chartAge.plotOptions" [series]="chartAge.series"
                                [states]="chartAge.states" [tooltip]="chartAge.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of data.age.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartAge.colors[i]"></div>
                                            <div class="ml-3 truncate">{{data.age.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{data.age.uniqueVisitors * dataset / 100 |
                                            number:'1.0-0'}}</div>
                                        <div class="text-right text-secondary">{{dataset}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Language -->
                    <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
                        <div class="flex items-start justify-between">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Póliza 4</div>
                            <div class="ml-2">

                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-6 h-44">
                            <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                [chart]="chartLanguage.chart" [colors]="chartLanguage.colors"
                                [labels]="chartLanguage.labels" [plotOptions]="chartLanguage.plotOptions"
                                [series]="chartLanguage.series" [states]="chartLanguage.states"
                                [tooltip]="chartLanguage.tooltip"></apx-chart>
                        </div>
                        <div class="mt-8">
                            <div class="-my-3 divide-y">
                                <ng-container *ngFor="let dataset of data.language.series; let i = index">
                                    <div class="grid grid-cols-3 py-3">
                                        <div class="flex items-center">
                                            <div class="flex-0 w-2 h-2 rounded-full"
                                                [style.backgroundColor]="chartLanguage.colors[i]"></div>
                                            <div class="ml-3 truncate">{{data.language.labels[i]}}</div>
                                        </div>
                                        <div class="font-medium text-right">{{data.language.uniqueVisitors * dataset /
                                            100 | number:'1.0-0'}}</div>
                                        <div class="text-right text-secondary">{{dataset}}%</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full mt-12">
                    <div class="text-2xl font-semibold tracking-tight leading-6">Recomendaciones de Seguros</div>
                    <div class="font-medium tracking-tight text-secondary">A continuación se muestra los seguros recomendados respecto a otros usuarios que también han seleccionado este tipo de seguro.</div>
                </div>
                <div class="w-full mt-12">
                    <div class="text-2xl font-semibold tracking-tight leading-6"></div>
                    
                </div>
                <!-- Budget details -->
                <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Seguros Recomendados</div>
                    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                        <table
                            class="min-w-240 overflow-y-visible"
                            mat-table
                            [dataSource]="data2.budgetDetails.rows">

                            <!-- Type -->
                            <ng-container
                                matColumnDef="type"
                                sticky>
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Seguro
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let budget">
                                    <span class="flex items-center">
                                        <span
                                            class="w-2 h-2 rounded-full"
                                            [ngClass]="{'bg-blue-500': budget.id === 1,
                                                        'bg-red-500': budget.id === 2,
                                                        'bg-green-500': budget.id === 3,
                                                        'bg-amber-500': budget.id === 4,
                                                        'bg-indigo-500': budget.id === 5}"></span>
                                        <span class="ml-3 leading-4">{{budget.type}}</span>
                                    </span>
                                </td>
                            </ng-container>

                            

                            <!-- Remaining percentage -->
                            <ng-container matColumnDef="remainingPercentage">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Porcenta de Afinidad (%)
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let budget">
                                    <span class="flex items-center">
                                        <span>
                                            <!-- Low -->
                                            <span
                                                class="flex items-end w-1 h-4 bg-red-200 rounded overflow-hidden"
                                                *ngIf="budget.remainingPercentage < 30">
                                                <span class="flex w-full h-1/3 bg-red-600"></span>
                                            </span>
                                            <!-- Medium -->
                                            <span
                                                class="flex items-end w-1 h-4 bg-orange-200 rounded overflow-hidden"
                                                *ngIf="budget.remainingPercentage >= 30 && budget.remainingPercentage < 80">
                                                <span class="flex w-full h-2/4 bg-orange-400"></span>
                                            </span>
                                            <!-- High -->
                                            <span
                                                class="flex items-end w-1 h-4 bg-green-100 rounded overflow-hidden"
                                                *ngIf="budget.remainingPercentage >= 80">
                                                <span class="flex w-full h-full bg-green-400"></span>
                                            </span>
                                        </span>
                                        <span class="ml-3 leading-4">{{budget.remainingPercentage}}%</span>
                                    </span>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="data2.budgetDetails.columns"></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: data2.budgetDetails.columns;"></tr>
                        </table>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>
