<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">User Interface</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Forms</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Crear Seguro
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-full">

            <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="horizontalStepperForm">
                <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Paso 1</ng-template>
                        <p class="my-6 font-medium">
                            Selecione a continuación el Tipo de seguro, Cliente y Usario asignado.
                        </p>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <ng-container *ngIf="seguros$ | async as seguros">
                                    <mat-select [formControlName]="'seguroSeleccionado'"
                                        [placeholder]="'Tipo de Seguro'" required>

                                        <mat-option *ngFor="let seguro of seguros; let i = index; trackBy: trackByFn"
                                            [value]="seguro.cod_seguro">{{seguro.nom_tipo_seguro}}</mat-option>

                                    </mat-select>
                                </ng-container>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <ng-container *ngIf="contacts$ | async as contacts">
                                    <mat-select [formControlName]="'clienteSeleccionado'" [placeholder]="'Cliente'"
                                        required>
                                        <mat-option *ngFor="let contact of contacts; let i = index; trackBy: trackByFn"
                                            [value]="contact.cod_cliente">{{contact.nom_cliente}}</mat-option>

                                    </mat-select>
                                </ng-container>

                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <ng-container *ngIf="users$ | async as users">
                                    <mat-select [formControlName]="'empleadoSeleccionado'"
                                        [placeholder]="'Usuario Asignado'" required>
                                        <mat-option *ngFor="let user of users; let i = index; trackBy: trackByFn"
                                            [value]="user.cod_usuario">{{user.nom_usuario}}{{user.apellido_usuario}}
                                        </mat-option>

                                    </mat-select>
                                </ng-container>

                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:translate'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="false"
                                (click)="getCampoSeguro()" type="button" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </mat-step>

                    <mat-step  [stepControl]="horizontalStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template matStepLabel>Paso 2</ng-template>
                        <p class="my-6 font-medium">
                            A continuación ingrese el detalle del seguro
                        </p>

                        <div class="flex"
                            *ngFor="let camp of horizontalStepperForm.get('campos')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                            <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                <mat-label>{{camp.get("name").value}}</mat-label>
                                <input matInput [formControl]="camp.get('valor')" >
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:pencil'">
                                </mat-icon>
                            </mat-form-field>
                            <hr>
                            <mat-form-field
                                class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-90 ml-2 sm:ml-4">
                                <mat-label></mat-label>
                                <input matInput [formControl]="camp.get('url')" [placeholder]="'URL'">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:paper-clip'">
                                </mat-icon>
                            </mat-form-field>
                            <br>
                        </div>






                        <br>
                        <!--
                            <div class="flex" *ngFor="let f of horizontalStepperForm.get('step2')['controls'] | keyvalue">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input matInput [formControlName]="'firstName'" [placeholder]="'First name'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                                </mat-icon>
                            </mat-form-field>
                            <hr>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <input matInput [formControlName]="'lastName'" [placeholder]="'Last name'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                                </mat-icon>
                            </mat-form-field>
                        </div>-->
                        <div class="flex justify-end">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="false" type="button"
                                matStepperNext>
                                Siguiente
                            </button>
                        </div>


                    </mat-step>

                    <mat-step [formGroupName]="'step3'" [stepControl]="horizontalStepperForm.get('step3')">
                        <ng-template matStepLabel>Notifications</ng-template>
                        <p class="my-6 font-medium">
                            We'll always let you know about important changes, but you pick what else you want to hear
                            about.
                        </p>
                        <div class="flex flex-col gt-sm:flex-row">
                            <div class="flex flex-col">
                                <span class="font-medium mb-2">By Email</span>
                                <div class="flex flex-col" [formGroupName]="'byEmail'">
                                    <mat-checkbox class="mb-1" [color]="'primary'" [formControlName]="'companyNews'">
                                        Company News
                                    </mat-checkbox>
                                    <mat-checkbox class="mb-1" [color]="'primary'"
                                        [formControlName]="'featuredProducts'">
                                        Featured Products
                                    </mat-checkbox>
                                    <mat-checkbox [color]="'primary'" [formControlName]="'messages'">
                                        Messages
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="font-medium mb-2">Push Notifications</span>
                                <mat-radio-group class="flex flex-col" [color]="'primary'"
                                    [formControlName]="'pushNotifications'">
                                    <mat-radio-button class="mb-2" [value]="'everything'">
                                        Everything
                                    </mat-radio-button>
                                    <mat-radio-button class="mb-2" [value]="'just-good'">
                                        Just the good stuff
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'no-push'">
                                        No push notifications
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can reset the form if you would like to change your
                            information.
                        </p>
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Volver
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="reset"
                                (click)="finalizarRegistro();">
                                Guardar
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>



        </div>

    </div>